[submodule "dependencies/tdlib"]
	path = dependencies/tdlib
	url = https://github.com/tdlib/td.git
[submodule "dependencies/tdlib-serializer"]
	path = dependencies/tdlib-serializer
	url = https://git.ignuranza.net/windoz/tdlib-serializer.git
